<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllocateX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>AllocateX</h1>
            <p>AI-based Employee Allocation Tool</p>
        </header>
        <nav class="navbar">
            <ul>
                <li><a href="index.html">AI Engine</a></li>
                <li><a href="#">Employee SpreadSheet</a></li>
            </ul>
        </nav>
        <section class="chat-section" id="chat-section">
            <div id="chat-history"></div>
            <div class="prompt-box" id="prompt-box">
                <h3>What kind of worker are you looking for?</h3>
                <input type="text" id="prompt-input" class="prompt-input" placeholder="Describe the type of worker you are looking for." />
                <button class="submit-button" onclick="submitPrompt()">Submit</button>
            </div>
        </section>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>
