<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/icon1.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css')}}">
    <title>Projects</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>AllocateX</h1>
            <p>AI-based Employee Allocation Tool</p>
        </header>
        <nav class="navbar">
            <ul>
                <li><a href="/">Sayj 1.0</a></li>
                <li><a href="#">Employee SpreadSheet</a></li>
                <li><a href="/projects">Projects</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>